body{
    background-color: white;
}

#rifas {
    background-color: #D6E1FF;
}

#rifasPagamento {
    background-color: #FFCC80;
    height: 100vh;
}

#bilhete {
    width: 60px;
    height: 60px;
    padding-right: 10px;
}
.select {
    width: 180px;
}